---
layout: default
title: "La tokenisation"
---

<div class="row">
    <div class="col s12 hide-on-small-only">
      <div class="card-panel teal">
            <span class="white-text">
                <i><b>tokenise.fr</b></i> a pour but de parler de l'ensemble des actifs du monde réel qui sont tokenisé, de façon vulgarisé que ce soit sur Ethereum, Polygon ou
                par exemple Gnosis Chain.
                <br><b>Ce site ne contient aucun conseil en investissement, il faut faire vos propres recherches. Les articles ne sont que mon propre opinion.</b>
            </span>
        </div>
    </div>
    <div class="col s12 show-on-small hide-on-med-and-up">
        <i><b><span class="blue-text">tokenise.fr</span></b></i> a pour but de parler de l'ensemble des actifs du monde réel qui sont tokenisé, de façon vulgarisé que ce soit sur Ethereum, Polygon ou
        par exemple Gnosis Chain.
        <br>
        <br><span class="red-text"><b>Ce site ne contient aucun conseil en investissement, il faut faire vos propres recherches. Les articles ne sont que mon propre opinion.</b></span>
    </div>
</div>


<h2>Liste des articles</h2>
{%- assign date_format = site.minima.date_format | default: "%-d %B %Y" -%}
{% for post in paginator.posts %}
<h3><a href="{{ post.url }}">{{ post.title }}</a> <small class="hide-on-small-only">{{ post.date | date: date_format }}</small></h3>
{% endfor %}

<!-- Pagination links -->
<ul class="pagination">
    {% if paginator.previous_page %}
        <li class="waves-effect"><a href="{{ paginator.previous_page_path }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    <li class="waves-effect"><a href="#!">Page: {{ paginator.page }} sur {{ paginator.total_pages }}</a></li>
    {% if paginator.next_page %}
        <li class="waves-effect"><a href="{{ paginator.next_page_path }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>