div .contenu ul li
{
    list-style-type: disc !important;
    margin-left: 20px;
}

div .contenu table
{
    border-style:solid;
    border-width: 1px;
    border-color: rgb(33, 150, 243);
}

div .contenu td
{
    border-style:solid;
    border-width: 1px;
    border-color: rgb(33, 150, 243); 
    padding-left: 20px;
}

div .contenu th
{
    border-style:solid;
    border-width: 1px;
    border-color: rgb(33, 150, 243);
    background-color:rgb(66, 161, 238);
    padding-left: 20px;
}

div .contenu table tr:nth-child(even)
{
    background-color:rgb(130, 190, 240);
}

div .contenu strong
{
    font-weight: 600;
}

div .contenu
{
    font-size: 20px;
}

div .contenu blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
  }
  
  div .contenu  blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }
  
div .contenu  blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }
  
  div .contenu  blockquote.twitter-tweet a:hover,
  div .contenu blockquote.twitter-tweet a:focus {
    text-decoration: underline;
  }
