<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <html>
    </head>
    <body>
        <!-- navbar -->
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
            </ul>
        </nav>
        <div class="row">
            <div class="col s12">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="col s12">
                <section>
                    {{ content }}
                </section>
            </div>
        </div>

        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                © 2022 tokenise.fr
                </div>
              </div>
        </footer>
    </body>
</html>